[user]
	name = Piotr Maks
[core]
	editor = nvim
[alias]
	br = branch
	ci = commit
	cim = commit -m
	cl = clean
	cla = clean -dfx
	co = checkout
	cob = checkout -b
	df = diff
	dfs = diff --staged
	ft = fetch
	fta = fetch --all -p
	sh = stash
	sl = log --pretty=oneline --abbrev-commit
	st = status
	oh = remote set-head origin -a
[pull]
	rebase = true
